NEXT_PUBLIC_CONTACT_EMAIL=contact@herformulaInspiration.com
NEXT_PUBLIC_FORMSPREE_ID=your_formspree_id_here
SENDGRID_API_KEY=your_sendgrid_api_key_here
NEXT_PUBLIC_SITE_URL=https://herformulaInspiration.com
NEXT_PUBLIC_TIKTOK_URL=https://www.tiktok.com/@heroutfitformula
